html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


div.game {
    display: inline-block;
    margin: 1em auto;
    border: thin solid black;
    padding: 1em 0;
    margin-left: 2em;
}

div.game div.row {
    display: block;
    padding: 0;
    height: 50px;
    white-space: nowrap;
}

div.buttons div.buttonRow{
    display: block;
    margin-top: 10px;
    margin-left: 1.5em;
    padding: 10px;
    height: 50px;
    /*width: 50px; not sure if this will cause problems or not*/
    white-space: nowrap;
}

div.game div.cell {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}

div.buttons div.buttonCell{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}

div.cell input {
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    text-indent: -999px;
    font-size: 0;
    line-height: 0;
    display: block;
}